.chat-container {
  width: 60%;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(100deg, rgb(230, 69, 69), rgb(136, 27, 27));
  border-radius: 0.5rem;
  overflow-y: auto;
  margin-bottom: 1.25rem;
}

.game-change {
  margin: 1rem;
  border-radius: 0.5rem;
  width: 30%;
  height: 5%;
  cursor: pointer;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  background: white;
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 8px;
  max-width: 65%;
  width: fit-content;
  position: relative;
  word-break: break-word;
  overflow-wrap: break-word;
}

.message p {
  margin: 0;
  white-space: pre-wrap;
}

.message-actions {
  bottom: 5px;
  left: 5px;

  display: flex;
  gap: 5px;
  margin-top: 0;
  max-height: 0;

  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}

.message:hover .message-actions {
  margin-top: 6px;
  max-height: 30px;
  opacity: 1;
}

.message-actions button {
  padding: 4px 6px;
  border-radius: 0.5rem;
  border: none;
}

.message-user-time {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 0.75rem;
  margin-bottom: 4px;
}

.message.own {
  margin-left: auto;
}

.message-actions button:hover {
  background: #dedede;
}

.edit-options {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
}

.edit-options button {
  border-radius: 0.5rem;
}

.message span {
  font-size: 0.7rem;
  color: gray;
}

.input-area {
  display: flex;
  padding: 10px;
  background: linear-gradient(100deg, rgb(113, 113, 245), rgb(44, 44, 143));
  max-height: 20%;
}

.input-area input {
  flex: 1;
  margin-right: 5px;
  padding: 8px;
  border-radius: 0.5rem;
}

.input-area textarea {
  flex: 1;
  margin-right: 5px;
  padding: 8px;
  border-radius: 0.5rem;
  resize: none;
}

.send-button {
  padding: 8px 12px;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.7s;
}

.send-button:hover {
  transform: scale(1.02);
}

.export-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.export-buttons button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  height: 2rem;
  margin: 1.5rem;
  transition: 0.5s;
}

.export-buttons button:hover {
  cursor: pointer;
  scale: calc(1.05);
}