.chat-container {
  width: 60%;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(100deg, rgb(230, 69, 69), rgb(136, 27, 27));
  border-radius: 0.5rem;
  overflow-y: auto;
  margin-bottom: 1.25rem;
}

.game-change {
  margin: 1rem;
  border-radius: 0.5rem;
  width: 25%;
  height: 5%;
  cursor: pointer;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  background: white;
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 8px;
  max-width: 70%;
  justify-self: flex-end;
}

.message span {
  font-size: 0.7rem;
  color: gray;
}

.input-area {
  display: flex;
  padding: 10px;
  background: linear-gradient(100deg, rgb(113, 113, 245), rgb(44, 44, 143));
  max-height: 20%;
}

.input-area input {
  flex: 1;
  margin-right: 5px;
  padding: 8px;
  border-radius: 0.5rem;
}

.input-area textarea {
  flex: 1;
  margin-right: 5px;
  padding: 8px;
  border-radius: 0.5rem;
}

button {
  padding: 8px 12px;
  border-radius: 1rem;
  cursor: pointer;
}