.chat-container {
  border-radius: 1rem;
  background: linear-gradient(100deg, rgb(249, 52, 52), rgb(73, 26, 26));
  width: 80%;
  height: 400px;
  margin-bottom: 0.5rem;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}


.chat-section {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
}


.messages-section {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.message {
  align-self: flex-end;
  background: white;
  padding: 6px 12px;
  border-radius: 12px;
  max-width: 70%;
}

.send-message {
  margin-top: auto;
  background: linear-gradient(200deg,rgb(120, 120, 255), rgb(45, 45, 164));
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.user-box {
  padding: 6px;
  border-radius: 6px;
  border: none;
}

.text-box{
  flex: 1;
  resize: none;          
  border-radius: 8px;
  border: none;
  padding: 8px;
  max-height: 3rem;    
  overflow-y: auto;
}

.send-button {
  padding: 6px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}