.fighters-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  justify-content: center;
  margin: 2rem 0;
}

@media (max-width: 1024px) {
  .fighters-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .mk-content{
    justify-items: center;
  }
}