.info-content {
  margin-left: 0.5rem;
  flex: 1;
}

@media (max-width: 768px) {
  .info-content{
    text-align: center;
  }
  /* .privacy-section {
    justify-items: center;
    text-align: center;
  }

  .cookies-section {
    justify-items: center;
    text-align: center;
  }

  .terms-section {
    justify-items: center;
    text-align: center;
  } */
}