.smash-content {
  text-align: center;
  justify-items: center;
  flex: 1;
}

.ssbu-fighters-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
}

.sssbu-mechanics-section p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.home-button {
  height: 8rem;
  width: 17rem;
  margin: 0.5rem;

  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  font-size: 18px;
  font-weight: bold;

  transition: 1s;
  background-image: url(/src/components/img/Fight-Hub.png);
  color: black;
}

.home-button:hover {
  scale: calc(1.05);
}

.tutorial-video {
  border-radius: 0.5rem;
  width: fit-content;
  max-height: fit-content;
}

@media (max-width: 1024px) {
  .ssbu-fighters-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .ssbu-fighters-grid>*:last-child:nth-child(odd) {
    grid-column: 1/-1;
    justify-self: center;
  }
}

@media (max-width: 768px) {
  .smash-content {
    justify-items: center;
  }
}