.map-container {
  height: 400px;
  width: 60%;
  border-radius: 0.5rem;
}

@media (max-width: 1024px) {
  .map-container {
    height: 300px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .map-container {
    height: 200px;
    width: 80%;
  }
}